// Main sass entry point for all CSS.
// Use @import to import sass partials in the correct order.

@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";

// TopNav
nav.top-nav {
	@extend .navbar;
	@extend .navbar-inverse;
	@extend .navbar-fixed-top;

	#navbar {
		@extend .collapse;
		@extend .navbar-collapse;
		@extend .navbar-right;

		ul {
			@extend .nav;
			@extend .navbar-nav;
		}
	}
}

.main-content {
	@extend .container;
	@extend .theme-showcase;
	padding-top: 65px;
}

.game-content {
	@extend .col-md-8;
}

.sidebar-content {
	@extend .col-md-4;
}

// Login
.form-login {
	padding: 10px;
	max-width: 400px;
	input[type="username"] {
		margin-bottom: -1px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	input[type="password"] {
		margin-bottom: 10px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
	.submit {
		@extend .btn;
		@extend .btn-lg;
		@extend .btn-primary;
		@extend .btn-block;
	}
}

// Panel
.panel {
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	border: 1px solid grey;
	margin-bottom: 0px;

	&.panel-active-white {
		box-shadow: 0px 1px 10px grey inset, 0px 0px 10px purple;
		border: none;
	}

	&.panel-active-user0 {
		box-shadow: 0px 1px 10px blue inset, 0px 0px 10px blue;
		border: none;
	}

	&.panel-active-user1 {
		box-shadow: 0px 1px 10px red inset, 0px 0px 10px yellow;
		border: none;
	}

	&.panel-active-user2 {
		box-shadow: 0px 1px 10px green inset, 0px 0px 10px orange;
		border: none;
	}

	&.panel-off {
		box-shadow: none;
	}

	&.panel-black {
		background-color: black;
	}

	&.panel-user0 {
		background-color: blue;
	}

	&.panel-user1 {
		background-color: yellow;
	}

	&.panel-user2 {
		background-color: orange;
	}

	&.panel-white {
		background-color: purple;
	}

	&.panel-success {
		background-color: green;
	}

	&.panel-error {
		background-color: red;
	}

	&.panel-large {
		width: 50px;
		height: 50px;
	}

	&.panel-def-size {
		width: 30px;
		height: 30px;
	}
}

// PanelStrip
.panel-strip {
	.panel {
		margin-top: 5px;
		margin-bottom:5px;
		margin-right: 0px;
	}
	width: 70px;
	display: inline-block;
	border: 1px solid black;
	text-align: center;
	margin-right: 25px;
	background-color: lightgrey;
}

// Handshake
.handshake {
	button {
		@extend .btn;
		@extend .btn-default;
		@extend .pull-right;
	}
}

// Status
.status {
	height: 470px;
	h3 {
		margin-top: 0px;
	}
	hr {
		border-color: grey;
	}
	.log {
		overflow-y: scroll;
		overflow-wrap: break-word;
		height: 375px;
	}
}
