// Main sass entry point for all CSS.
// Use @import to import sass partials in the correct order.

@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";

// TopNav
nav.top-nav {
	@extend .navbar;
	@extend .navbar-inverse;
	@extend .navbar-fixed-top;

	#navbar {
		@extend .collapse;
		@extend .navbar-collapse;
		@extend .navbar-right;

		ul {
			@extend .nav;
			@extend .navbar-nav;
		}
	}
}

.main-content {
	@extend .container;
	@extend .theme-showcase;
	padding-top: 65px;
}

.game-content {
	@extend .col-md-8;
}

.sidebar-content {
	@extend .col-md-4;
}

// Login
.form-login {
	padding: 10px;
	max-width: 400px;
	input[type="username"] {
		margin-bottom: -1px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	input[type="password"] {
		margin-bottom: 10px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
	.submit {
		@extend .btn;
		@extend .btn-lg;
		@extend .btn-primary;
		@extend .btn-block;
	}
}

// Light
.light {
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;

	&.light-on {
		opacity: 1;
	}

	&.light-off {
		opacity: 0.15;
	}

	&.light-black {
		background-color: black;
	}

	&.light-user0 {
		background-color: blue;
	}

	&.light-user1 {
		background-color: red;
	}

	&.light-user2 {
		background-color: green;
	}

	&.light-large {
		width: 50px;
		height: 50px;
	}

	&.light-def-size {
		width: 30px;
		height: 30px;
	}
}

// LightPanel
.light-panel {
	.light {
		margin-top: 5px;
		margin-bottom:5px;
		margin-right: 0px;
	}
	width: 70px;
	display: inline-block;
	border: 1px solid black;
	text-align: center;
	margin-right: 25px;
}

// Handshake
.handshake {
	button {
		@extend .btn;
		@extend .btn-default;
		@extend .pull-right;
	}
}

// Status
.status {
	h3 {
		margin-top: 0px;
	}
}
